html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  border: 1px solid black;
  background: #000000; }
  #mainContent div, #mainContent img {
    position: absolute; }

#img0, #img1 {
  width: 300px;
  height: 250px;
  overflow: hidden; }

#img1 {
  left: 150px; }
